@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bike Register</h1>
    <p class="lead">Bike register is the first one of its kind, register your bike, for safety and bragging rights!</p>
</div>

<div class="row">
    <div class="visible-lg col-lg-1" style="background-color: #d3d3d3">
        <p>some add</p>
    </div>
    <div class="col-lg-3 col-md-4 text-center">
        <h2>Get Started</h2>
        <p>
            Sign up today, create a user profile, and join the largest community of bicycle owners in the country!
            Registration is easy and it consists of a few simple steps!
        </p>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
        <h2>Register Your bicycles</h2>
        <p>
            Register your bycicles on our page and have the ability to check if the the bike you are bying is stolen
            or if someone stole your bike other users can contact you if they stumble on some info.
        </p>
    </div>
    <div class="col-lg-3 col-md-4 text-center">
        <h2>Put your bike up for sale</h2>
        <p>
            Have the ability to advertise your bike for sale, to the other users, together with the option to 
            change the ownership in our records if the sale goes through!
        </p>
    </div>
    <div class="visible-lg col-lg-1" style="background-color: #d3d3d3">
        <p>some add</p>
    </div>
</div>
